<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- <script>

  (adsbygoogle = window.adsbygoogle || []).push({

    google_ad_client: "ca-pub-1365974311006995",

    enable_page_level_ads: true

  });

</script> -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139616700-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139616700-2');
</script>

<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" />
</a>
